
$mainColor: #17607a;

.tree_wrapper{
    & .tree_header{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 2.6rem;
    }

    & .title{
        padding-left: 2.5rem;
    }

    & > ul > ul{
        margin-bottom: 30px;
    }
    & ul {
        list-style: none;
        color: $mainColor;
        font-weight: 700;
    }

    li{
        margin-bottom: 13px;
    }

    & .parent{

        & li {
            position: relative;

        }

        &  li:before {
            content: '';
            position: absolute;
            top: 1.1rem;
            left: -3.1rem;
            background: $mainColor;
            width: 3rem;
            height: 1px;
        }

    }

    & .parent_text{
        position: relative;
        margin: 0 2px 0 4px;
        color: $mainColor;
        font-weight: 700;
        font-size: 1rem;
        min-width: 3rem;
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
        background-color: white;
    }

    & .parent_text:focus{
        outline: none;
    }


    & .child{
        position: relative;
        top:.5rem;
        left: 0;
        color: $mainColor;
        font-weight: 700;
        font-size: 1rem;
        min-width: 3rem;
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
        background-color: white;
    }

    & .child:focus{
        outline: none;
    }

    & .sub_parent{
        margin-left: .3rem;
        margin-top: .7rem;
        border-left: 1px solid $mainColor;
        padding-left: 3rem;


        &  .sub_parent li:before {
            left: -3rem;
            width: 2.6rem;
            height: 1px;
        }

        &  .sub_parent li:after {
            top: -.9rem;
            left: -3rem;
        }
        
        & .icon_wrapper{
            display: inline-block;
            margin-right: 5px;
            position: absolute;
            z-index: 1;
            left: -.7rem;
            top: 0.6rem;
        }
    }

    .menu_wrapper{
        display: inline-block;
        position: relative;
    }

    .title_icon{
        display: grid;
        margin-left: 5px;
        place-items: center;
    }
    .icon_wrapper{
        display: inline-block;
        margin-right: 5px;
    }

    .menu{
        display: inline-block;
        position: relative;
    }
    

    
}
