$menuColor: #d6d6d6;

.popUp_wrapper{
  position: absolute;
  top: 0;
  left:-0.5rem;
  width: 7rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $menuColor;
  background-color: white;
  z-index: 1;
  box-shadow: 3px 3px 3px $menuColor;


  & div {
    padding: 5px;

  }
  & div:nth-child(2) {
    border-bottom: 1px solid $menuColor;
    border-top: 1px solid $menuColor;
  }
}
.popUp_del_wrapper{
  height: 2rem;
}
